@import url(./colors.css);

.btn {
    background-color: var(--indigo);
    color: #fff;
    display: inline-block;
    padding: 20px 40px;
    width: 250px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: 0.9s all ease-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* 
.btn:hover {
    background-color: var(--sariq);
    color: var(--indigo)!importand
} */

.header__btn {
    margin: 30px 0px;
}
.header__btn2{
    margin: 30px 0 30px 30px;
}
.header__btn_2 {
    
    background-color: transparent;
    color: var(--sariq);
    border: 2px solid var(--sariq);
}   
   
   .btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--sariq);
    height: 0%;
    width: 0px;
    border-radius: 25px;
}

.btn:hover {
    color: var(--indigo);
}

.btn:before {
    top: 50%;
    left: 50%;
    transition: all .7s;
}

.btn:hover:before {
       height: 100%;
       width: 280px;
    top: 0px;
    left: 0px;
   }
   
   /* button:active:before {
    background: #3a0ca3;
    transition: background 0s;
   } */